<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
    RewriteEngine On
    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]
</IfModule>

RewriteEngine On
RewriteCond %{HTTP_HOST}  !^www\.mikeymikeevents\.com$ [NC]
RewriteRule ^(.*) http://www.mikeymikeevents.com/$1 [L,R]

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^mikeymikeevents.com
RewriteRule ^(.*)$ https://www.mikeymikeevents.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.mmeink\.com$ [NC]
RewriteRule ^(.*)$ https://www.mikeymikeevents.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^mmeink\.com$ [NC]
RewriteRule ^(.*)$ https://www.mikeymikeevents.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^mikeymikeevents\.mmeink\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mikeymikeevents\.mmeink\.com$
RewriteRule ^/?$ "https\:\/\/www\.mikeymikeevents\.com\/" [R=301,L]